<?xml version="1.0"?>
<config>
    <modules>
        <EsendexCustomNotifications_RegisterSuccessNotification>
            <version>0.3.0</version>
        </EsendexCustomNotifications_RegisterSuccessNotification>
    </modules>
    <global>
        <helpers>
            <esendexCustomNotifications_registerSuccessNotification>
                <class>EsendexCustomNotifications_RegisterSuccessNotification_Helper</class>
            </esendexCustomNotifications_registerSuccessNotification>
        </helpers>
        <models>
            <esendexCustomNotifications_registerSuccessNotification>
                <class>EsendexCustomNotifications_RegisterSuccessNotification_Model</class>
                <resourceModel>esendexCustomNotifications_registerSuccessNotification_resource</resourceModel>
            </esendexCustomNotifications_registerSuccessNotification>
            <esendexCustomNotifications_registerSuccessNotification_resource>
                <class>EsendexCustomNotifications_RegisterSuccessNotification_Model_Resource</class>
                <entities>
                    <customer_register_details>
                        <table>customer_register_details</table>
                    </customer_register_details>
                </entities>
            </esendexCustomNotifications_registerSuccessNotification_resource>
        </models>
        <resources>
            <esendexcustomnotifications_setup>
                <setup>
                    <module>EsendexCustomNotifications_RegisterSuccessNotification</module>
                    <class>Esendex_Sms_Model_Resource_Setup</class>
                </setup>
            </esendexcustomnotifications_setup>
        </resources>
        <events>
            <customer_register_success>
                <observers>
                    <customer_register>
                        <class>Esendex_Sms_Model_Observer</class>
                        <method>dispatchEvent</method>
                    </customer_register>
                </observers>
            </customer_register_success>

            <esendex_sms_edit_form_stage2_customer_register_success>
                <observers>
                    <customer_register_success_add_fields>
                        <class>EsendexCustomNotifications_RegisterSuccessNotification_Model_Observer</class>
                        <method>addFields</method>
                    </customer_register_success_add_fields>
                </observers>
            </esendex_sms_edit_form_stage2_customer_register_success>
        </events>
    </global>
</config>